{% extends 'base.html.twig' %}

{% block title %}Identification{% endblock %}

{% block body %}


<section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom__aside bg-image context-dark" style="background-image: url(images/bg-image-1-1920x238.jpg);">
            <div class="container">
                <h2 class="breadcrumbs-custom__title">{{ block('title') }}</h2>
            </div>
        </div>
    </section>

    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <div class="row mt-5 justify-content-center">
                            <a href="{{ path('connect_facebook_start') }}" class="btn-large btn-facebook col-5"><i class="fab fa-facebook-f" style="padding-right:10px; font-size: 1em;"></i>Facebook</a>
                            <a href="{{ path('connect_google_start') }}" class="btn-google btn-large col-5"><i class="fab fa-google-plus-g" style="padding-right:10px; font-size: 1em;"></i>Google</a>
                        </div>
                        <div class="container mt-3">
                            <div class="text-decoration-lines mb-5">
                                <span class="text-decoration-lines__content">ou</span>
                            </div>

                            <form method="post">
                            {% for label, messages in app.flashes %}
                            <div class="alert alert-{{ label }}">
                                {% for message in messages %}
                                    <i class="fa-solid fa-circle-info"></i> {{ message | raw }}    
                                {% endfor %}
                            </div>
                        {% endfor %}
                                {% if error %}
                                    <div class="alert alert-danger"><i class="fa-solid fa-circle-exclamation"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                {% endif %}

                                <div class="input-field mb-4">
                                    <input type="email" placeholder="Email" name="email" id="inputEmail" class="form-control" autocomplete="email">
                                    <span class="error_email helper-text" data-error="Veuillez renseigner un email" aria-live="polite"></span>
                                </div>
                                <div class="input-field mb-4">
                                    <input placeholder="Mot de passe" type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password">
                                    <span class="error_password helper-text" data-error="Veuillez renseigner un mot de passe" aria-live="polite"></span>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                </div>
                                <button type="submit" class="btn capital col-12 mb-3">Me connecter</button>
                            </form>
                            <div class="input-field mb-4 text-center">
                                <a href="{{ path('app_register') }}">Je n'ai aucun compte</a> | <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
    #}

{% endblock %}
