{% extends 'base.html.twig' %}

{% block title %}Paiements{% endblock %}

{% block body %}
    <section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom__aside bg-image context-dark" style="background-image: url(/images/bg-image-1-1920x238.jpg);">
            <div class="container">
                <h2 class="breadcrumbs-custom__title">{{ block('title') }}</h2>
            </div>
        </div>
    </section>

    <section class="auth">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="info-box mb-4">
                        <div class="container mt-3">
                            {% for label, messages in app.flashes %}
                                <div class="alert alert-{{ label }}">
                                    {% for message in messages %}
                                        <i class="fa-solid fa-circle-info"></i> {{ message | raw }}    
                                    {% endfor %}
                                </div>
                            {% endfor %}
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Facture N°</th>
                                        <th>Montant</th>
                                        <th>Date</th>
                                        <th>actions</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for paiement in paiements %}
                                    <tr class="align-middle">
                                        <td>{{ paiement.facture.slug }}</td>
                                        <td>{{ paiement.montant }} €</td>
                                        <td>{{ paiement.date ? paiement.date|date('j F Y') : '' }}</td>
                                        <td>
                                        
                                            {% if is_granted("ROLE_ADMIN") %}
                                                <a class="btn" target="_blank" href="{{ path('app_admin_factures_show', {'slug': paiement.facture.slug}) }}"><i class="fas fa-eye"></i></a>
                                            {% else %}
                                                <a class="btn" target="_blank" href="{{ path('app_factures_show', {'slug': paiement.facture.slug}) }}"><i class="fas fa-eye"></i></a>
                                            {% endif %}
                                            
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        $(document).ready( function () {

            $('.table').DataTable({
                language: {
                    url: "//cdn.datatables.net/plug-ins/1.13.1/i18n/fr-FR.json"
                }
            });


        });
    </script>
{% endblock %}
