{% extends 'base.html.twig' %}

{% block title %}Identification{% endblock %}

{% block body %}


<section class="breadcrumbs-custom">
        <div class="breadcrumbs-custom__aside bg-image context-dark" style="background-image: url(images/bg-image-1-1920x238.jpg);">
            <div class="container">
                <h2 class="breadcrumbs-custom__title">{{ block('title') }}</h2>
            </div>
        </div>
    </section>

    <section class="auth">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="info-box mb-4">
                        <div class="row mt-5 justify-content-center">
                            <a href="" class="btn-large btn-facebook col-5"><i class="fab fa-facebook-f" style="padding-right:10px; font-size: 1em;"></i>Facebook</a>
                            <a href="" class="btn-google btn-large col-5"><i class="fab fa-google-plus-g" style="padding-right:10px; font-size: 1em;"></i>Google</a>
                        </div>
                        <div class="container mt-3">
                            <div class="text-decoration-lines mb-5">
                                <span class="text-decoration-lines__content">ou</span>
                            </div>

                            {{ form_start(requestForm) }}
                                {% for flash_error in app.flashes('reset_password_error') %}
                                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                                {% endfor %}

                                <div class="input-field">
                                    {{ form_widget(requestForm.email) }}
                                </div>
                                <div class="mb-4">
                                    <small>
                                        Entrez votre adresse e-mail et nous vous enverrons un lien pour réinitialiser votre mot de passe.
                                    </small>
                                </div>
                                <button type="submit" class="btn capital col-12 mb-3">Réinitialiser le mot de passe</button>
                            {{ form_end(requestForm) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    <h1>Reset your password</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
        <div>
            <small>
                Enter your email address and we will send you a
                link to reset your password.
            </small>
        </div>

        <button class="btn btn-primary">Send password reset email</button>
    {{ form_end(requestForm) }}
#}
{% endblock %}
